*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100;
    height: 100vh;
    background: url('../Image/bg\ image.jpg') center center;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0,0, 0.5);
}

.title1{
    margin-top: 200px;
     color: white;
    text-align: center;
    font-size: 2.5rem;

}
.title2{
    margin-top: 30px;
     color: white;
    text-align: center;
    font-size: 2.5rem;

}

.col{
    margin-top: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    color: white;
}

.col div{
   margin-top: 20px;
     width: 250px;
     text-align: center;

}
input {
    width: 60%;
    background-color: rgba(255, 255,255, 0.9);
    border-color: transparent;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}